<launch>
  <arg name="3d_sensor" default="kinect"/> 
  <!-- Move base -->
  <arg name="custom_param_file" default="$(find alice_planning)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
  <include file="$(find alice_planning)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
</launch>
